<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package= "allisonchow.greengreen">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".WelcomeScreen">
            android:name=".WelcomeScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginScreen"
            android:label="LoginScreen"
            android:theme="@style/AppTheme"/>
        <activity android:name=".RegisterScreen"
            android:label="RegisterScreen"
            android:theme="@style/AppTheme"/>
        <activity android:name=".RegisterScreen2"
            android:label="RegisterScreen2"
            android:theme="@style/AppTheme"/>
        <activity android:name=".RewardScreen"
            android:label="RewardScreen"
            android:theme="@style/AppTheme"/>
        <activity android:name=".CreateOrJoinTeamMenu"
            android:label="CreateOrJoinTeamMenu"
            android:theme="@style/AppTheme"/>
        <activity android:name=".JoinTeamMenu"
            android:label="JoinTeamMenu"
            android:theme="@style/AppTheme"/>
        <activity android:name=".MakeTeamMenuCodegen"
            android:label="MakeTeamMenuCodegen"
            android:theme="@style/AppTheme"/>
        <activity android:name=".MainScreenIndex"
            android:label="MainScreenIndex"
            android:theme="@style/AppTheme"/>
        <activity android:name=".NewTask"
            android:label="NewTask"
            android:theme="@style/AppTheme"/>

    </application>

</manifest>